/.git/
/.vscode/
/docs/
/node_modules/
/.gitignore
/.npmignore
/examples/
/test/
/benchmarks/
/commitlint.config.js
/.eslintrc
/.eslintignore
/tsconfig.json
/tsconfig.production.json
/.husky/
/src/examples/
/src/benchmarks/
